<<<<<<< HEAD
/* inicio de estilos compartidos por todas las paginas */
*{
    margin: 0;
    padding: 0;
}
    body{
        font-size: 110%;
        font-family: Arial, Helvetica, sans-serif;

    }

    .container-header{

        display: grid;
        grid-template-columns:  0.5fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px;
        justify-items: center;
        height: 100%;
        
    }
    main{
        background: #ECE9E6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
      
    }

.container-header__logo{
    justify-self: start;
   height: 80px;
   width: 80px;
   
}

.container-header__navbar{
    display: flex;
}
.container-header__navbar ul{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

.container-header__navbar ul li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    transition: all 0.25s;
}
.container-header__navbar ul li a:hover{
    color: rgb(170, 21, 21);
=======
.nav-link:hover{
>>>>>>> desarrollo
    font-weight: bold;
    font-size: 110%;
}
header{
    font-size: 120%;
}
main{


}
.bi.bi-whatsapp:hover{
    transform: scale(1.2);
    color: rgb(71, 238, 71);
    
}
.bi.bi-facebook:hover{
    transform: scale(1.2);

}
<<<<<<< HEAD
.animate__animated.animate__zoomIn{
    animation-duration: 2s;
}
.animate__animated.animate__flip{
    animation-iteration-count: infinite;
    animation-duration: 1s;

   
}
.index-img{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-auto-rows: 200px;
 row-gap: 15px;
 justify-items: center;
=======
.bi.bi-instagram:hover{
    transform: scale(1.2);

>>>>>>> desarrollo
}
.bi.bi-twitter:hover{
    transform: scale(1.2);

}

