.nav-link:hover{
    font-weight: bold;
    font-size: 110%;
}

header{
    font-size: 120%;
    border-bottom: 3px  solid rgba(0,0,0,0.2);
}
.index-stroke{
    color: black;
    font-family: 'Roboto', sans-serif;    

}
.index-stroke-h1{
    font-size: 70px;
    -webkit-text-stroke: 2px rgb(255, 255, 255);

}
.index-stroke-p{
    font-size: 40px;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);

}
.carousel-item-index1{
    background-image: url("/ROOT/images/imagenes-inicio/75534-oficinas.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    max-width: auto;
}
.carousel-item-index2{
    background-image: url("/ROOT/images/imagenes-inicio/racks.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    max-width: auto;
}
.carousel-item-index3{
    background-image: url("/ROOT/images/imagenes-inicio/bg-autoelevadores.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    max-width: auto;
}

.card-size{
max-width: 100%;}
.card-size img{
    height: 92px;
    width: auto;
}
.padding-section{
    margin-top: 200px;
   
} 

.card:hover{
box-shadow: 0px 10px 50px -3px rgba(0,0,0,0.5);

}

.bi.bi-whatsapp:hover{
    transform: scale(1.2);
    color: rgb(71, 238, 71);
    
}
.bi.bi-facebook:hover{
    transform: scale(1.2);

}
.bi.bi-instagram:hover{
    transform: scale(1.2);

}
.bi.bi-twitter:hover{
    transform: scale(1.2);

}
.texto-borde{
    -webkit-text-stroke: 2px black;
    color: white; 
  }
  #galeria{
      margin: 0 !important;
      padding: 20px;
  }
  .img-hover:hover{
      transform: scale(1.3);
  }


