/* inicio de estilos compartidos por todas las paginas */
*{
    margin: 0;
    padding: 0;
}
    body{
        font-size: 110%;
        font-family: Arial, Helvetica, sans-serif;

    }

    .container-header{

        display: grid;
        grid-template-columns:  0.5fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px;
        justify-items: center;
        height: 100%;
        
    }
    main{
        background: #ECE9E6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
      
    }

.container-header__logo{
    justify-self: start;
   height: 80px;
   width: 80px;
   
}

.container-header__navbar{
    display: flex;
}
.container-header__navbar ul{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

.container-header__navbar ul li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    transition: all 0.25s;
}
.container-header__navbar ul li a:hover{
    color: rgb(170, 21, 21);
    font-weight: bold;
    font-size: 120%;
    border-radius: 5px;
}
.container-footer{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    height: 100%;
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}
.container-footer div p{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.container-footer div{
display: flex;
justify-content: flex-end;
}
.container-footer div img{
    height: 80px;
    width: 80px;

}
   /* fin de estilos compartidos por todas las páginas */

/* inicio estilos página "index" */
.container-main__index{
    display: grid;
    grid-template-areas:
    "hero hero"
    "main main"
    "main main";
    grid-template-columns:repeat( 2, 1fr);
    grid-auto-rows: 250px;
    gap: 10px;

}
.container-main__index div{
    grid-area: hero;
}
.container-main__index section{
    grid-area: main;
    
}
.hero{
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   align-items: center;
   font-size: 50px;
   text-align: justify;
   background-image: url(../images/indexhero.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   -webkit-text-stroke: 2px rgb(255, 255, 255);
   color: rgb(0, 0, 0); 
   font-family: 'Teko', sans-serif;
   font-style: italic;

  
}
.hero p{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);


}
.animate__animated.animate__zoomIn{
    animation-duration: 2s;
}
.animate__animated.animate__flip{
    animation-iteration-count: infinite;
    animation-duration: 1s;

   
}
.index-img{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-auto-rows: 200px;
 row-gap: 15px;
 justify-items: center;
}


.index-item1{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 150px;
    align-self: end;
    

}

.index-item2{
    grid-column: 2/3;
    grid-row: 1/2;
    height: 150px;
    align-self: end;





}

.index-item3{
    grid-column: 1/2;
    grid-row: 2/3;
    height: 150px;
    align-self:center;




}

.index-item4{
    grid-column: 2/3;
    grid-row: 2/3;
    height: 150px;
    align-self:center;
}
.text-item1{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: start;
    font-size: 120%;
    font-style: italic;
}
.text-item2{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: start;
    font-size: 120%;
    font-style: italic;

}
.text-item3{
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: end;
    font-size: 120%;
    font-style: italic;

}
.text-item4{
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: end;
    font-size: 120%;
    font-style: italic;

}
/* fin de estilos de pagina "index */

/* inicio estilos pagina contacto */

.contacto-main-grid{
display: grid;
grid-template-areas:
"hero hero"
"form social" ;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,1fr);

}
.contacto-hero{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    grid-area: hero;
    background-image:url("../images/imagenes contacto/contacthero.jpg");
    -webkit-text-stroke: 3px rgb(0, 0, 0);
    color: rgb(255, 249, 249); 
    font-size: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
 
}
.formulario-contacto{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    line-height: 3;
    grid-area: form;
background-color: #FAA916;                    

}
.formulario-contacto label{
    font-size: 120%;
    font-style: italic;
    font-weight: bold;
}

.borderlessinput{
    
    border: 0;
    font-size: 120%;
    box-shadow: 0 2px rgba(0,0,0,0.5);
    background-color: #FAA916;
    margin-left: 15px;


}
.formulario-contacto select{
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid black;
    background-color: #FAA916;



}
.max140{
    background-color: #FAA916;
    border: 2px solid black;
    text-align: justify;
    border-radius: 10px;
    width: 200px;
    height: 100px;
}
.formulario-contacto div button{
    display: flex;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px ;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #FAA916;

    
}

.redes-sociales{
    grid-area: social;
    display: grid;
    grid-template-areas:
    "hero hero hero"
    "ins fb tw";
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:1fr 1fr;
    padding-bottom: 10px;
    background-color: #FAA916;
}
.redes-sociales h2{
    grid-area: hero;
justify-self: center;
align-self: center;
}
.redes-sociales_fb{
    grid-area: fb;
    height: 100px;
    width: 100px;
    justify-self: center;
    align-self: end;

}
.redes-sociales_ins{
    grid-area: ins;
    height: 100px;
    width: 100px;
    justify-self: center;
    align-self: end;



}
.redes-sociales_tw{
    grid-area: tw;
    height: 100px;
    width: 100px;
    justify-self: center;
    align-self: end;


}
img.btn-whatsapp {
    display: block !important;
    position: fixed;
    z-index: 9999999;
    top: 10px;
    right: 20px;
    cursor: pointer;
    border-radius:100px !important;
    
    }
    img.btn-whatsapp:hover{
    border-radius:100px !important;
    transition-duration: 0.4s;
    width: 64px;
    height: 64px;
    } 
/* fin estilos pagina contacto */

/* inicio medias queries index */
@media (max-width:927px){
    .hero p{
        display: none;
    }
    body{
        font-size: 90%;
    }
}
@media (max-width:790px){
    .container-header__navbar{
        font-size: 80%;
        padding: 0;
    }
    .container-main__index{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows:1fr ;
        
    }
.index-img{
    display: grid;
    grid-template-areas: 
    "item1"
    "item2"
    "item3"
    "item4";
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    row-gap: 10px;
}
.index-item1{
    grid-area: item1;
}
.text-item1{
    grid-area: item1;
}
.index-item2{
    grid-area: item2;
    margin-top: 10px;
}
.text-item2{
    grid-area: item2;
}
.index-item3{
    grid-area: item3;
    margin-bottom: 10px;
}
.text-item3{
    grid-area: item3;
}
.text-item4{
    grid-area: item4;

}
.index-item4{
    grid-area: item4;
    margin-bottom: 10px;
    height: 100px;
}
    
}
@media (max-width:468px){
    .hero h1{
        font-size: 75%;
    }
}
/* fin medias queries pagina idex */

/* inicio medias queries pagina contacto */
@media (max-width:1070px){
     .wppbot{
         display: none;
     }
     .contacto-main-grid{
         display: grid;
        grid-template-areas:
        "hero"
        "info"
        "redes" ;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
     }
     .formulario-contacto{
         grid-area: info;
     }
     .contacto-hero{
         grid-area: hero;
     }
     .redes-sociales{
         grid-area: redes;
     }  
   
}
/* fin medias queries pagina contacto */