.nav-link:hover{
    font-weight: bold;
    font-size: 110%;
}
header{
    font-size: 120%;
}
.bi.bi-whatsapp:hover{
    transform: scale(1.2);
    color: rgb(71, 238, 71);
    
}
.bi.bi-facebook:hover{
    transform: scale(1.2);

}
.bi.bi-instagram:hover{
    transform: scale(1.2);

}
.bi.bi-twitter:hover{
    transform: scale(1.2);

}
.texto-borde{
    -webkit-text-stroke: 2px black;
    color: white; 
  }
  #galeria{
      margin: 0 !important;
      padding: 20px;
  }
  .img-hover:hover{
      transform: scale(1.5);
  }


