@import "./components/variables";
@import "./components/global";
@import "./components/header";
@import "./components/index-main";
@import "./components/animations";
@import "./components/footer";
@import "./components/index-aside";
@import "./components/contacto";
@import "./components/productos";
@import "./components/quienessomos";
@import "./components/portal";