.bi.bi-whatsapp:hover{
    transform: scale(1.2);
    color: rgb(71, 238, 71);
    
}
.bi.bi-facebook:hover{
    transform: scale(1.2);

}
.bi.bi-instagram:hover{
    transform: scale(1.2);

}
.bi.bi-twitter:hover{
    transform: scale(1.2);

}
.card:hover{
    transition-delay: 0.15s;
    border: 1rem solid transparent;
    
    }
    
