.bi.bi-whatsapp:hover{
    transform: scale(1.2);
    color: rgb(71, 238, 71);
    
}
.bi.bi-facebook:hover{
    transform: scale(1.2);

}
.bi.bi-instagram:hover{
    transform: scale(1.2);

}
.bi.bi-twitter:hover{
    transform: scale(1.2);

}
    
.card:hover{
    transform: scale(1.03);
    transition-delay: 0.15s;
    box-shadow: 0 0 1rem gray;
    cursor: pointer;

}
