*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.textShadow{
    text-shadow: 0.2rem 0.2rem 1rem #000000;

}

@mixin titulos ($color, $paddingTB) {
    font-size: $textLarge;
    padding: $paddingTB 0;
    color: $color;
    @extend .textShadow;
}

@mixin sizes ($width, $height){
    height: $height;
    width: $width;
}

@each $heading, $textTransform in (h1: uppercase){
    #{$heading}{
        text-transform: $textTransform;
    }
}

 
     


    
