*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.textShadow{
    text-shadow: 0.2rem 0.2rem 1rem #000000;

}
.carouselImg{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    text-align: center;
    position: relative;
}

    .heroOscurecido{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100rem;
      
    
    
        h1{
            position: relative;
            width: 100vw;
        }
    
        &::before{
            content: "";
            position: absolute;
            background-color: black;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            opacity: 0.6;
        
        }
    }

    



@mixin sizes ($width, $height){
    width: $width;
    height: $height;
}

@each $heading, $textTransform in (h1: uppercase){
    #{$heading}{
        text-transform: $textTransform;
        color: $colorRed;
        @extend .textShadow;
    }
}




$mapRedes : (fb-color:#4267B2, inst-color: #F77737, tw-color: #1DA1F2, wpp-color:#25D366);

@each $redes, $color in $mapRedes {
    .#{$redes}{
        color: $color;
    }
    
}


     


    
