.nav-link:hover{
    font-weight: bold;
    font-size: 2.2rem;
    

}


header{
    font-size: 2rem;

    nav{
        padding: 0 !important;
        background-color: $colorLightBlue !important ;

        div{
            padding: 0 !important;
        }
        .dropdown-item{
            font-size: $textBase;
        }
    }

}



