main{
    background: $colorBody;

}

.index-stroke{
    color: black;

}
.index-stroke-h1{
    font-size: 70px;
    color: white;
@extend .textShadow;
}
.index-stroke-p{
    font-size: 40px;
    color:white;
    @extend .textShadow;
}

.padding-section{
    margin-top: 200px;
   
} 
.card-size{
    @include sizes (auto,15rem);

    img{
        @include sizes (auto,9.2rem);

    }
}