main{
    background: $colorBody;

}
.clark{
    background-image: url("https://res.cloudinary.com/leoms96/image/upload/v1647271004/Distri%20itati/imagenes-inicio/bg-autoelevadores_ccojiu.jpg");
    @extend .carouselImg;
    
   h1,p{
       position: relative;
   
   }

    &::before{
        content: "";
        position: absolute;
        background-color: black;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0.4;

    }
}
.oficinas{
    background-image: url("https://res.cloudinary.com/leoms96/image/upload/v1647271004/Distri%20itati/imagenes-inicio/75534-oficinas_gdn0bg.jpg");
    @extend .carouselImg;

    h1,p{
        position: relative;
    
    }
 
     &::before{
         content: "";
         position: absolute;
         background-color: black;
         top: 0;
         bottom: 0;
         right: 0;
         left: 0;
         opacity: 0.4;
 
     }
 }
 
  

.racks{
    background-image: url("https://res.cloudinary.com/leoms96/image/upload/v1647271005/Distri%20itati/imagenes-inicio/racks_eebmkv.jpg");
    @extend .carouselImg;

    h1,p{
        position: relative;
    
    }
 
     &::before{
         content: "";
         position: absolute;
         background-color: black;
         top: 0;
         bottom: 0;
         right: 0;
         left: 0;
         opacity: 0.4;
 
     }
 }
 


.index-stroke{
    color: black;

}
.index-stroke-h1{
    font-size: 70px;
    color: white;
@extend .textShadow;
}
.index-stroke-p{
    font-size: 40px;
    color:white;
    @extend .textShadow;
}

.padding-section{
    margin-top: 200px;
   
} 

.card-body{
  padding: 0;
  .card-text{
      font-size: $textBase;
      color: $colorDarkBlue;
      font-weight: bold;
  }
}
.card-size{
    @include sizes (auto,15rem);

    img{
        @include sizes (auto,9.2rem);

    }
}