.catalogoGlobal{
    background-color: $colorBody;
    font-size: $textBase;
}

.gallery{
    background-color: $colorMiddleBlue;
    padding: 8rem 0;

    .galleryItem{
        padding: 0.5rem;
        width: 100%;
        box-shadow: 0 0 1.5rem rgba(0,0,0,0.3);
        background-color: $colorBody;

        &:hover{
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        animation: gradient 7s ease infinite;
        background-size: 400% 400%;
        cursor: pointer;
        transform: scale(1.01);
        transition-delay: 0.12s;
        }
        
    }
}

.carousel-catalogo-gradient{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 7s ease infinite;
    background-size: 400% 400%;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




.heroH1Size{
    font-size: 5rem;
}

.heroGin{
    background-image: url("https://res.cloudinary.com/leoms96/image/upload/v1647271005/Distri%20itati/imagenes-catalogo/gintonic_nzdsvl.webp");
    @extend .heroOscurecido;
    padding-bottom: 10rem;
    

}

.heroWhisky{
    background-image: url("https://res.cloudinary.com/leoms96/image/upload/c_scale,w_1024/v1647271003/Distri%20itati/imagenes-catalogo/whiky_ildroa.webp");
    @extend .heroOscurecido;
    padding-bottom: 10rem;

}

.heroAperitivos{
    background-image: url("https://res.cloudinary.com/leoms96/image/upload/c_scale,w_1024/v1647271003/Distri%20itati/imagenes-catalogo/aperitivos_jknzwl.webp");
    @extend .heroOscurecido;
    padding-bottom: 10rem;

}

.heroSpirits{
    background-image: url("https://res.cloudinary.com/leoms96/image/upload/c_scale,w_1024/v1647388314/Distri%20itati/imagenes-catalogo/spirits_dzacff.webp");
    @extend .heroOscurecido;
    padding-bottom: 10rem;
}